<ion-view view-title="Acerca de...">
  <ion-content>    

    <div class="list card">
    	<div class="item item-image">
    		<img src="img/perfil.png">
  		</div>
        <div style="text-align:center;">Trivia QUIZ v1.0<br>
            Desarrolladora: Sof&iacute;a Sartori</div>
  		<a href="http://technisys.com" class="item item-avatar">
    		<img src="img/technisys.jpg" style="width: 40px;">
    		<h2>Mobile Developer at Technisys</h2> 
        <p><i class="ion-social-apple"></i>
    		<i class="ion-social-android"></i></p>
  		</a>
    	<a href="http://www.github.com/sofiasartori" class="item item-icon-left">
    		<i class="icon ion-social-github"></i>
    		Git Hub: /sofiasartori
    	</a>
    	<a href="mailto:sartorisofiaines@gmail.com" class="item item-icon-left">
    		<i class="icon ion-android-mail"></i>
    		sartorisofiaines@gmail.com
    	</a>
    </div>
    <div style="text-align:center;">Hecho con <i class="ion-android-favorite assertive"></i>, <i class="ion-ionic"></i> y <i class="ion-social-angular"></i></div>
  </ion-content>
</ion-view>
