<ion-view view-title="Trivia">
  <ion-content style="background-image: linear-gradient(#0e3038, #0b677d);">
    <!--<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
    <img src="img/flower.jpg" style="width:200px; margin-top:15%; margin-left:20%;"><br>
    <label style="margin-left:2%;">La parte masculina de una flor se llama...</label><br>
    <div style="text-align:center;">
      <button class="button button-small button-energized">Estigma</button><br><br>
      <button class="button button-small button-energized">Pistilo</button><br><br>
      <button class="button button-small button-energized">Estambre</button>
    </div>
  </ion-content>
</ion-view>
