<ion-view view-title="Acerca de...">
  <ion-content>    

    <div class="list card">
    	<div class="item item-image">
    		<img src="img/perfil.jpg">
  		</div>
  		<a class="item item-icon-left" href="#" style="padding-left:1px !important;">
    		<i class="ion-ios-glasses-outline assertive"></i>
    		Mobile Developer at Technisys <i class="ion-social-apple"></i>
    		<i class="ion-social-android"></i>
  		</a>
    	<a href="http://www.github.com/sofiasartori" class="item item-icon-left">
    		<i class="icon ion-social-github"></i>
    		Git Hub
    	</a>
    	<a href="mailto:sartorisofiaines@gmail.com" class="item item-icon-left">
    		<i class="icon ion-android-mail"></i>
    		sartorisofiaines@gmail.com
    	</a>
    	<a href="http://linkedin.com/sofiasartori" class="item item-icon-left">
    		<i class="ion-social-linkedin"></i>
    		Hire me!
    	</a>
    </div>
    <div style="text-align:center;">Hecho con <i class="ion-android-favorite assertive"></i>, <i class="ion-ionic"></i> y <i class="ion-social-angular"></i></div>
  </ion-content>
</ion-view>
